body{
    background-image:url("../imagenes/pintura3.jpg");
}
.pad{
    margin-top: 5%;
    margin-bottom: 5%  
}

.bck-w{
    background-color: rgb(255, 255, 255);
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 3%;
}
.w-35{
    width: 35%;
}
.text-center{
    text-align: center;
}